// 头部内容
<template>
  <div class="search">
    <div class="search-input">
      <img src="~/static/img/search.png" alt="">
      <input type="text" placeholder="请输入搜索的商品">
    </div>
  </div>
</template>
<script>
export default {
  props: [],
  mounted () {

  }
}
</script>
<style lang="scss" scoped>
.search {
  width: 100%;
  .search-input {
    width: 3.25rem;
    height: 0.32rem;
    display: flex;
    align-items: center;
    background: #fff;
    margin: 0.09rem auto;
    border-radius: 0.3rem;
    img {
      width: 0.24rem;
      height: 0.24rem;
      margin-left: 0.1rem;
    }
    input {
      margin-left: 0.1rem;
      border: none;
      font-size: 0.12rem;
    }
  }
}
</style>


