<template>
  <div class='personal-tailor'>
    <header>
      <img src="~/static/img/jtr.png" alt="" @click="goback()">
      <span>私人订制</span>
      <font></font>
    </header>
    <ul class="content">
      <li>
        <span @click="show()">test</span>
        <awesome-picker ref="picker" :data="picker.data" @confirm="res1()">
        </awesome-picker>
      </li>
    </ul>
  </div>
</template>

<script>
import Vue from "vue"
import AwesomePicker from "vue-awesome-picker"
Vue.use(AwesomePicker);
export default {
  data () {
    return {
      picker: {
        data: [{
          index: 0,
          value: "111"
        }, {
          index: 1,
          value: "222"
        }, {
          index: 2,
          value: "333"
        }]    //单列以双重数组的形式  
      }
    };
  },
  //方法集合
  methods: {
    goback () {
      this.$router.go(-1)
    },
    show () {
      this.$refs.picker.show();
    },
    res1 () {
      console.log()
    }

  },
}
</script>
<style lang='scss' scoped>
.personal-tailor {
  width: 100%;
  height: 100vh;
  font-size: 0.14rem;
  // background: #f5f5f5;
  display: flex;
  flex-direction: column;
  header {
    width: 100%;
    height: 0.5rem;
    background: #fff;
    font-size: 0.14rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.1rem;
    box-sizing: border-box;
    background: #fff;
    img {
      width: 0.15rem;
      height: 0.15rem;
      transform: rotate(180deg);
    }
    font {
      width: 0.15rem;
      height: 0.15rem;
    }
  }
}
.content {
  width: 100%;
  padding: 0 0.1rem;
  box-sizing: border-box;
  li {
    height: 0.5rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
    span {
      color: #fd4122;
      margin-right: 0.05rem;
    }
  }
}
</style>
