<template>
  <div class="container">
    <header>{{head}}</header>
    <div class="contents">
      <nuxt-child />
    </div>

    <ul class="footer">
      <nuxt-link to="/home/home" tag="li">
        <img src="~/static/img/index.png" v-show="$nuxt.$route.path!='/home/home'">
        <img src="~/static/img/index2.png" v-show="$nuxt.$route.path=='/home/home'">
        <span>首页</span>
      </nuxt-link>

      <nuxt-link to="/home/sort" tag="li">
        <img src="~/static/img/sort.png" v-show="$nuxt.$route.path!='/home/sort'">
        <img src="~/static/img/sort2.png" v-show="$nuxt.$route.path=='/home/sort'">
        <span>分类</span>
      </nuxt-link>

      <nuxt-link to="/home/shopping" tag="li">
        <img src="~/static/img/shoping.png" v-show="$nuxt.$route.path!='/home/shopping'">
        <img src="~/static/img/shoping2.png" v-show="$nuxt.$route.path=='/home/shopping'">
        <span>购物车</span>
      </nuxt-link>

      <nuxt-link to="/home/my" tag="li">
        <img src="~/static/img/my.png" v-show="$nuxt.$route.path!='/home/my'">
        <img src="~/static/img/my2.png" v-show="$nuxt.$route.path=='/home/my'">
        <span>我的</span>
      </nuxt-link>

    </ul>
  </div>
</template>

<script>
// import Vue from "vue";
// export default Vue.extend({
// });


export default ({   //js写法

  data () {
    return {
      head: "nuxt-微商城"
    }
  }

})
</script>

<style lang="scss" scoped>
.container {
  font-size: 0.16rem;
  height: 100vh;
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
}
header {
  width: 100%;
  height: 0.5rem;
  text-align: center;
  line-height: 0.5rem;
  background: #fff;
  font-size: 0.14rem;
}
.contents {
  width: 100%;
  flex: 1;
  overflow: scroll;
}
.footer {
  width: 100%;
  height: 0.5rem;
  display: flex;
  border-top: 1px solid #ccc;
  background: #fff;
  li {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.12rem;
    color: #666666;
    img {
      width: 0.25rem;
      height: 0.25rem;
      // margin-bottom: 0.05rem;
    }
  }
  .exact-active-link {
    color: #ff6b00;
  }
}
</style>
