<template>
  <div class='container'>
    <nuxt />
  </div>
</template>

<script>

export default {
  asyncData ({ redirect, route }) {
    // asyncData方法会在组件（限于页面组件）每次加载之前被调用。
    // 它可以在服务端或路由更新之前被调用。在这个方法被调用的时候，第一个参数被设定为当前页面的上下文对象，
    // 你可以利用 asyncData方法来获取数据并返回给当前组件。
    if (route.path == "/") {//路由重定向
      redirect('/home/home')
    }
  },
  data () {
    return {

    };
  },
  //方法集合
  methods: {

  },
}
</script>
<style lang='scss' scoped>
</style>