<template>
  <div class="shopInfo">
    <header>
      <img src="~/static/img/jtr.png" alt="" @click="goback()">
      <span>商品详情</span>
      <font></font>
    </header>
    <div class="main">
      <!-- swiper -->
      <div class="my-swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide" v-for="(item,index) in info.img" :key="index">
            <img :src="item" alt="">
          </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
      </div>
      <!-- 商品名称 -->
      <div class="title">
        <div class="title-price">
          <p class="price">￥{{info.price}}</p>
          <span class="show-num">销量：{{info.salesVolume}}</span>
        </div>
        <div class="title-name">{{info.name}}</div>
      </div>
      <!-- 优惠券 -->
      <div class="youhui">
        <span>优惠券</span>
        <p>暂无</p>
        <div>更多 > </div>
      </div>
      <!-- 产品须知 -->
      <div class="product">
        <ul class="product-tit">
          <li :class="tab=='proKnow'?'red':''" @click="tab='proKnow'">产品须知</li>
          <li :class="tab=='buyKnow'?'red':''" @click="tab='buyKnow'">买家须知</li>
          <li :class="tab=='buyTalk'?'red':''" @click="tab='buyTalk'">买家评论</li>
        </ul>
        <ul class="pro-con">
          <li v-html="proCon"></li>
        </ul>
      </div>
    </div>
    <footer>
      <div class="concat">
        <img src="~/static/img/kf.png" alt="">
        <span>联系客服</span>
      </div>
      <div class="shopcar">
        <img src="~/static/img/gwc.png" alt="">
        <span>购物车 </span>
      </div>
      <div class="add-shopcar red">
        加入购物车
      </div>
      <div class="now-buy yellow">
        立即购买
      </div>
    </footer>
  </div>
</template>

<script>
import Swiper from 'swiper'
export default {

  data () {
    return {
      datas: {
        id: this.$route.query.id,
        length: 3,
        page: 0
      },
      comments: [],
      info: {},
      mySwiper: null,
      tab: "proKnow"
    };
  },
  //方法集合
  methods: {
    getcomments () {  //获取评论
      this.$axios.post("mgr/comments/get_goods_comments",
        { datas: this.datas }
      ).then(res => {
        if (res.status == 200) {
          if (res.data.code == 1) {
            this.comments = res.data.data
          }
        }
      })
    },
    getShopInfo () { //获取详情
      this.$axios.post("mgr/goods/detail",
        { datas: { id: this.datas.id } }
      ).then(res => {
        if (res.status == 200) {
          if (res.data.code == 1) {
            this.info = res.data.data
          }
        }
      })
    },
    initSwiper () {
      this.mySwiper = new Swiper(".my-swiper", {
        direction: 'horizontal',
        loop: true,
        autoplay: 3000,
        pagination: {
          el: ".swiper-pagination",
          clickable: true
        }
      })
    },
    goback () {
      this.$router.go(-1)
    }
  },
  mounted () {
    this.getcomments();
    this.getShopInfo();
    this.initSwiper()
  },
  computed: {
    proCon () {  //产品详情内容
      if (this.tab == 'proKnow') {
        return this.info.content
      } else if (this.tab == 'buyKnow') {
        return "请买家在购买之前，认真选择邮寄地址，以免造成不必要的损失"
      } else if (this.tab == 'buyTalk') {
        if (this.comments.length > 0) {
          return this.comments
        } else {
          return "暂无评论"
        }

      }
    }
  }
}
</script>
<style lang='scss' scoped>
.shopInfo {
  width: 100%;
  height: 100vh;
  font-size: 0.14rem;
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  header {
    width: 100%;
    height: 0.5rem;
    background: #fff;
    font-size: 0.14rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.1rem;
    box-sizing: border-box;
    background: #fff;
    img {
      width: 0.15rem;
      height: 0.15rem;
      transform: rotate(180deg);
    }
    font {
      width: 0.15rem;
      height: 0.15rem;
    }
  }
}
.main {
  width: 100%;
  flex: 1;
  overflow: scroll;
}
.my-swiper {
  width: 100%;
  height: 3.75rem;
  overflow: hidden;
  position: relative;
  background: #fff;
  .swiper-wrapper {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .swiper-pagination-fraction,
  .swiper-pagination-custom,
  .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 0.1rem;
  }
}
.title {
  background: #fff;
  padding: 0 0.1rem 0.15rem;
  box-sizing: border-box;
  margin-bottom: 0.1rem;
}
.title-price {
  height: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price {
  font-size: 0.2rem;
  color: #fd4122;
  font-weight: 600;
}
.show-num {
  font-size: 0.13rem;
  color: #666;
}
.title-name {
  font-size: 0.16rem;
  font-family: "微软雅黑";
  color: #333;
}
.youhui {
  background: #fff;
  padding: 0 0.1rem;
  box-sizing: border-box;
  height: 0.45rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.1rem;
  span {
    font-size: 0.12rem;
    color: #888;
  }
  p {
    flex: 1;
    font-size: 0.13rem;
    color: #666;
    margin-left: 0.1rem;
  }
  div {
    font-size: 0.12rem;
    color: #888;
  }
}
.product {
  width: 100%;
  background: #fff;
  .product-tit {
    height: 0.5rem;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    li {
      width: 33.3%;
      height: 100%;
      line-height: 0.5rem;
      box-sizing: border-box;
      border-bottom: 2px solid transparent;
      text-align: center;
    }
    .red {
      color: #d63c34;
      border-bottom: 2px solid #d63c34;
    }
  }
  .pro-con {
    padding: 0 0.1rem;
    box-sizing: border-box;
    li {
      line-height: 0.5rem;
    }
  }
}
footer {
  height: 0.5rem;
  background: #fff;
  border-top: solid 1px #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .concat,
  .shopcar {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #888;
    font-size: 0.11rem;
    img {
      width: 0.22rem;
      height: 0.2rem;
      display: block;
    }
  }
  .add-shopcar,
  .now-buy {
    height: 100%;
    flex: 1;
    text-align: center;
    line-height: 0.5rem;
    font-size: 14px;
    color: #fff;
  }
  .red {
    background: #d63c34;
  }
  .yellow {
    background: #f9ce38;
  }
}
</style>
