<template>
  <div class="home">
    <!-- 查询框 -->
    <search></search>
    <!-- 轮播图 -->
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <nuxt-link :to="{path:'/shopInfo',query:{id:item.id}}" tag="div" class="swiper-slide" v-for="item in banner"
          :key="item.id">
          <img :src="item.src" alt="">
        </nuxt-link>
      </div>
      <!-- 如果需要分页器 -->
      <div class="swiper-pagination"></div>
    </div>
    <!-- 每日热讯 -->
    <div class="new-day">
      <img src="~/static/img/news.png" alt="">
      <div class="swiper-container-ver">
        <div class="swiper-wrapper">
          <div class="swiper-slide" v-for="item in newsList" :key="item.id">
            <p>{{item.content}}</p>
          </div>
        </div>
      </div>
      <!-- <marquee behavior="scroll" direction="up">
        <p v-for="item in newsList" :key="item.id">{{item.content}}</p>
      </marquee> -->
    </div>
    <!-- 私人订制 -->
    <div class="model">
      <nuxt-link tag="div" class="personal-tailor" to="/personalTailor">
        <img src="~/static/img/zs03.png" alt="">
        <p>
          <span>私人订制</span>
          <font>不同需要 共同选择</font>
        </p>
      </nuxt-link>
      <nuxt-link tag="div" class="member-zone" to="/home/sort?num=4">
        <img src="~/static/img/zs01.png" alt="">
        <p>
          <span>会员专区</span>
          <font>极致精选 时尚专线</font>
        </p>
      </nuxt-link>
    </div>
    <!-- 会员特价 -->
    <div class="member">
      <div class="title">
        <p class="left">会员特价</p>
        <p class="right">查看更多</p>
      </div>
      <ul class="member-con">
        <nuxt-link tag='li' v-for="item in member" :key="item.id" :to="{path:'/shopInfo',query:{id:item.id}}">
          <img :src="item.src" alt="">
          <p class="pos">特惠</p>
          <p class="con-title">{{item.title}}</p>
          <div>
            <span class="price">￥{{item.price}}</span>
            <img src="~/static/img/shoping3.png" alt="">
          </div>
        </nuxt-link>
      </ul>
    </div>
    <!-- 精彩推荐 -->
    <div class="recommend">
      <div class="title">
        <p class="left">精彩推荐</p>
        <p class="right">查看更多</p>
      </div>
      <ul class="recommend-con">
        <nuxt-link tag="li" v-for="item in recommend" :key="item.id" :to="{path:'/shopInfo',query:{id:item.id}}">
          <img :src="item.src" alt="">
          <div class="recm-info">
            <div class="top">
              <p class="con-title">{{item.title}}</p>
              <span>{{item.label[0]}}</span>
            </div>
            <div class="bot">
              <span class="price">￥{{item.price}}</span>
              <img src="~/static/img/shoping3.png" alt="">
            </div>
          </div>
        </nuxt-link>
      </ul>
    </div>
    <div class="footer">
      <div class="suport">
        <p></p>
        <span>技术支持</span>
        <p></p>
      </div>
      <img src="~/static/img/footer-logo.png" alt="">
      <div class="mao">北京卯合卯科技发展有限公司</div>
      <div class="tel">客服电话：010-83509528</div>
    </div>
  </div>
</template>
<script>
import search from "~/components/search.vue"
import Swiper from 'Swiper'
export default {
  components: {
    search,
  },
  data () {
    return {
      banner: [],  //轮播图
      newsList: [],   //每日热讯
      member: [], //会员
      recommend: [], //精彩推荐
      mySwiper: null   //swiper
    }
  },
  methods: {
    initSwiper () {  //横向轮播图
      // this.$nextTick(() => {
      // let Swiper = require("swiper")
      this.mySwiper = new Swiper('.swiper-container', {
        autoplay: 3000,
        pagination: {
          el: ".swiper-pagination",
          clickable: true
        }
      });

      // })
    },
    setVerSwiper () { //竖向轮播图
      return new Swiper('.swiper-container-ver', {
        direction: 'vertical',
        loop: true,
        autoplay: 3000
      })
    },
    getbanner () { //获取bannner
      this.$axios.post("mgr/index/banner").then(res => {
        if (res.status == 200) {
          if (res.data.code == 1) {
            this.banner = res.data.data
            this.banner[1].id++;
          }
        }
      })
    },
    getNews () { //获取每日热讯
      this.$axios.post("mgr/index/news_list").then(res => {
        if (res.status == 200) {
          if (res.data.code == 1) {
            this.newsList = res.data.data
          }
        }
      })
    },
    getShop () {
      this.$axios.post("mgr/index/goods").then(res => {
        if (res.status == 200) {
          if (res.data.code == 1) {
            this.member = res.data.data.member
            this.recommend = res.data.data.wonderful
          }
        }
      })
    }
  },
  mounted () {
    this.initSwiper();
    // this.setSwiper();
    this.setVerSwiper();
    this.getbanner();
    this.getNews();
    this.getShop()

  },
}
</script>
<style lang="scss" scoped>
.swiper-container {
  height: 1.87rem;
  width: 100%;
  position: relative;
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  img {
    width: 100%;
    height: 100%;
    display: block;
  }
}

.new-day {
  width: 100%;
  height: 0.5rem;
  padding: 0 0.1rem;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background: #ffffff;

  img {
    width: 0.35rem;
    height: 0.35rem;
    margin-right: 0.07rem;
  }
  marquee {
    flex: 1;
    height: 0.5rem;
    p {
      line-height: 0.5rem;
      font-size: 0.12rem;
      color: #888888;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  .swiper-container-ver {
    flex: 1;
    height: 0.5rem;
    line-height: 0.5rem;
    font-size: 0.12rem;
    color: #888888;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .swiper-wrapper {
    display: block;
  }
}
.model {
  display: flex;
  justify-content: space-around;
  background: #fff;
  div {
    width: 1.75rem;
    height: 0.6rem;
    border: solid 1px #ddd;
    border-radius: 0.1rem;
    margin-bottom: 0.1rem;
    display: flex;
    align-items: center;
    img {
      width: 0.5rem;
      height: 0.5rem;
      // margin-top: 0.05rem;
    }
    span {
      font-size: 0.14rem;
      color: #444;
      font-weight: bold;
      display: block;
    }
    font {
      margin-top: 0.05rem;
      font-size: 12px;
      color: #888;
      font-weight: 500;
    }
  }
}
.title {
  width: 100%;
  height: 0.38rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.1rem;
  box-sizing: border-box;
  border-bottom: solid 1px #f5f5f5;
  .left {
    color: #333;
    font-size: 0.13rem;
    font-weight: bold;
  }
  .right {
    color: #888;
    font-size: 0.12rem;
  }
}
.member {
  margin-top: 0.1rem;
  width: 100%;
  background: #fff;
  .member-con {
    padding: 0.1rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    li {
      width: 1.65rem;
      position: relative;
      img {
        width: 1.65rem;
        height: 1.65rem;
      }
      .pos {
        width: 0.3rem;
        height: 0.15rem;
        font-size: 0.1rem;
        background: #d63c34;
        text-align: center;
        line-height: 0.15rem;
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        color: #fff;
      }
      .con-title {
        font-size: 0.14rem;
        display: inline-block;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-top: 0.05rem;
      }
      div {
        font-size: 0.14rem;
        color: #fd4122;
        display: flex;
        justify-content: space-between;
        img {
          width: 0.18rem;
          height: 0.18rem;
        }
      }
    }
  }
}
.recommend {
  margin-top: 0.1rem;
  background: #fff;
  li {
    padding: 0.07rem 0.1rem;
    box-sizing: border-box;
    display: flex;
    border-bottom: 1px solid #f5f5f5;
    img {
      width: 0.85rem;
      height: 0.85rem;
      margin-right: 0.1rem;
    }
    .recm-info {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .con-title {
      font-size: 0.14rem;
      display: inline-block;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .top span {
      color: #d63c34;
      border: solid 1px #d63c34;
      font-size: 11px;
      padding: 0 2px;
      margin-right: 0.05rem;
    }
    .bot {
      font-size: 0.14rem;
      color: #fd4122;
      display: flex;
      justify-content: space-between;
      img {
        width: 0.18rem;
        height: 0.18rem;
      }
    }
  }
}
.footer {
  padding: 0.1rem 0;
  box-sizing: border-box;
  text-align: center;
  .suport {
    display: flex;
    padding: 0 0.2rem;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    p {
      border-bottom: 1px solid #999;
      flex: 1;
    }
    span {
      font-size: 0.12rem;
      color: #999;
      margin: 0 0.1rem;
    }
  }
  img {
    width: 0.91rem;
    height: 0.13rem;
    margin: 0.05rem auto;
    margin-top: 0.1rem;
  }
  .tel,
  .mao {
    font-size: 0.12rem;
    color: #999;
  }
}
</style>