<template>
  <div class="shopping">
    <header>
      <div class="all-select">
        <input type="checkbox" id="all" v-model="allchecked" @click="selectAll()">
        <label for="all">全选</label>
      </div>
      <p>编辑</p>
    </header>
    <div class="con">
      <ul class="shopList">
        <li v-for="item in shopcartList" :key="item.id">
          <input type="checkbox" v-model="item.flag" @change="selectItem">
          <div class="shop-info">
            <img :src='item.src' alt="">
            <div class="desc">
              <div class="top">
                <p class="con-title">{{item.title}}</p>
              </div>
              <div class="bot">
                <span class="price">￥{{item.price}}</span>
                <ul class="num">
                  <li @click="reduce(item)">-</li>
                  <li>{{item.shopNumber}}</li>
                  <li @click="add(item)">+</li>
                </ul>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <footer>
      <p>总计：<font>￥{{count}}</font>
      </p>
      <button class="btn">结算</button>
    </footer>
  </div>
</template>
<script>
export default {
  data () {
    return {
      shopcartList: [],
      allchecked: false,
      count: 0
    }
  },
  methods: {
    getshopcartList () {
      this.$axios(
        {
          url: "mgr/shopcart/select_shopping_cart",
          headers: {
            "openid": "od5gR5XpqxdNw2Am8e9DSE2OAP2Q",
            "sessionkey": "XfdDGEKWnLNgcwVIU47B7A=="
          },
          method: "post"
        }).then(res => {
          if (res.status == 200) {
            if (res.data.code == 1) {
              this.shopcartList = res.data.data
              this.shopcartList.forEach(item => {
                item.flag = false
              })
            }
          }
        })
    },
    selectAll () {
      this.allchecked = !this.allchecked
      this.shopcartList.forEach(item => {
        item.flag = this.allchecked
      })
      this.selectItem()
    },
    selectItem (i) {
      let num = 0;
      this.shopcartList.forEach(item => {
        if (item.flag == true) {
          // console.log(item)
          num += item.shopNumber * item.price
        }
      })
      this.count = num
      let status = this.shopcartList.every(item => {
        return item.flag == true
      })
      this.allchecked = status
    },
    add (i) {
      i.shopNumber++;
      this.$axios(
        {
          url: "mgr/shopcart/shopping_cart_num",
          headers: {
            "openid": "od5gR5XpqxdNw2Am8e9DSE2OAP2Q",
            "sessionkey": "XfdDGEKWnLNgcwVIU47B7A=="
          },
          method: "post",
          data: {
            datas: {
              id: i.id,
              num: i.shopNumber
            }
          }
        }).then(res => {
          if (res.status == 200) {
            if (res.data.code == 1) {
              console.log(res)
            }
          }
        })
      this.selectItem()
    },
    reduce (i) {
      if (i.shopNumber > 1) {
        i.shopNumber--;
      }
    }

  },
  mounted () {
    this.getshopcartList()
  },
  computed: {
    // count () {
    //   const num = 0
    //   this.shopcartList.forEach(item => {
    //     if (item.flag == true) {
    //       console.log(item)
    //       num += item.shopNumber * item.price
    //     }
    //   })
    //   return num
    // }

  }


}
</script>
<style lang="scss" scoped>
.shopping {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
header {
  height: 40px;
  border-bottom: solid 1px #eee;
  padding: 0 0.1rem;
  box-sizing: border-box;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.con {
  flex: 1;
  overflow: scroll;
  .shopList {
    > li {
      width: 100%;
      padding: 0.07rem 0.1rem;
      box-sizing: border-box;
      display: flex;
      border-bottom: 1px solid #f5f5f5;
      align-items: center;
      position: relative;
      background: #fff;
      margin-bottom: 0.15rem;
      .shop-info {
        display: flex;
        margin-left: 0.1rem;
        flex: 1;
      }
      img {
        width: 0.85rem;
        height: 0.85rem;
        margin-right: 0.1rem;
      }
      .desc {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      .con-title {
        font-size: 0.14rem;
        display: inline-block;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .bot {
        width: 100%;
        font-size: 0.14rem;
        color: #fd4122;
        display: flex;
        justify-content: space-between;
        .num {
          display: flex;
          li {
            width: 0.23rem;
            height: 0.25rem;
            background: #eee;
            color: #444;
            text-align: center;
            line-height: 0.25rem;
            font-size: 0.12rem;
          }
          li:nth-child(2) {
            width: 0.48rem;
            border-left: 1px solid #ccc;
            border-right: 1px solid #ccc;
          }
        }
      }
    }
  }
}
footer {
  height: 0.5rem;
  border-top: solid 1px #eee;
  background: #fff;
  padding: 0 0.1rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    font-size: 0.14rem;
    color: #555;
    font {
      font-size: 0.2rem;
      color: #fd4122;
    }
  }
  .btn {
    width: 0.84rem;
    height: 0.36rem;
    font-size: 0.12rem;
    color: #fff;
    text-align: center;
    line-height: 0.36rem;
    border: none;
    background: #fd4122;
    border-radius: 0.03rem;
  }
}
</style>