<template>
  <div class="sort" @scroll="nextList($event)">
    <!-- 头部tab -->
    <div class="headTab">
      <div class="icon" @click="filStatus=true">
        <img src="~/static/img/commodity00.png" alt="">
        <span>分类</span>
      </div>
      <div class="search">
        <div class="search-input">
          <img src="~/static/img/search.png" alt="">
          <input type="text" placeholder="请输入搜索的商品">
        </div>
      </div>
      <div class="icon" @click="listStyle()">
        <img src="~/static/img/commodity01.png" alt="" v-if="listFlag">
        <img src="~/static/img/commodity02.png" alt="" v-else>
        <span>列表</span>
      </div>
    </div>
    <!-- 内容部分 -->
    <div class="sort-con">
      <ul class="head-nav">
        <li v-for="(item,index) in nav" :key="index" @click="navChange(index)">
          <span :class="params.listStyle==index+1?'orange':''">{{item}}</span>
          <img :src="priceImg" v-show="index==2"
            :style="params.listStyle==index+1?'visibility:visible;':'visibility:hidden'" ref="priceImg">
        </li>
      </ul>
      <div class="nav-con">
        <ul class="level-con" v-if="listFlag">
          <nuxt-link tag="li" v-for="item in shopList" :key="item.id" :to="{path:'/shopInfo',query:{id:item.id}}">
            <img :src="item.src" alt="">
            <!-- <p class="pos" v-if="item.label.length>0">{{item.label[0]}}</p> -->
            <p class="con-title">{{item.title}}</p>
            <div>
              <span class="price">￥{{item.price}}</span>
              <img src="~/static/img/shoping3.png" alt="">
            </div>
          </nuxt-link>
        </ul>
        <ul class="vertical-con" v-else>
          <nuxt-link tag="li" v-for="item in shopList" :key="item.id" :to="{path:'/shopInfo',query:{id:item.id}}">
            <img :src="item.src" alt="">
            <div class="recm-info">
              <div class="top">
                <p class="con-title">{{item.title}}</p>
                <!-- <span v-if="item.label.length>0">{{item.label[0]}}</span> -->
              </div>
              <div class="bot">
                <span class="price">￥{{item.price}}</span>
                <img src="~/static/img/shoping3.png" alt="">
              </div>
            </div>
          </nuxt-link>
        </ul>

      </div>
      <div class="pos" v-show="filStatus" @click="classifyNav($event)">
        <div class="filter">
          <p :class="[params.typeStyle==''?'orange':'','all']">全部商品</p>
          <ul class="filter-title">
            <li v-for="item in classify" :key="item.id">
              <div class="main-title">
                <span class="main-title-span">{{item.title}}</span>
                <img src="~/static/img/jt.png" alt="" class="main-title-img">
              </div>
              <ul class="sub-title">
                <li v-for="_item in item.chil" :key="_item.id">
                  <p :data-id="_item.id" :class="params.typeStyle==_item.id?'orange':''">{{_item.title}}</p>
                </li>
              </ul>
            </li>
          </ul>
        </div>

      </div>
    </div>
    <div v-if="isShow" class="isShow">没有更多了</div>
  </div>
</template>
<script>
export default {
  data () {
    return {
      nav: ["综合", "销量", "价格", "会员", "限时"],
      params: {
        length: 6,
        listStyle: 1, //nav 商品列表
        offset: 0,   //页码数
        order: "desc",  //价格  上下
        typeStyle: "",  //分类筛选,
      },
      classify: [],
      shopList: [],
      filStatus: false,
      priceImg: "https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1220747519,673909795&fm=26&gp=0.jpg",
      listFlag: true,
      isShow: false
    }
  },
  methods: {
    getClassify () { //获取分类
      this.$axios.post("mgr/goods/classification").then(res => {
        if (res.status == 200) {
          if (res.data.code == 1) {
            this.classify = res.data.data
          }
        }
      })
    },
    getAllList () { //获取商品列表
      this.$axios.post("mgr/goods/goods", { datas: this.params }).then(res => {
        if (res.status == 200) {
          if (res.data.code == 1) {
            this.shopList = res.data.data
          }
        }
      })
    },
    classifyNav (event) { //分类导航
      // console.log(event.srcElement.className == 'mian-title')
      // console.log(event.srcElement.className)
      let id = event.target.getAttribute("data-id")
      if (id) {
        this.params.typeStyle = id;
        setTimeout(() => {
          this.filStatus = false
        }, 200)
        this.getAllList()

      } else if (event.srcElement.className == 'all') {
        this.params.typeStyle = ""
        setTimeout(() => {
          this.filStatus = false
        }, 200)
        this.getAllList()
      }
      else if (event.srcElement.className == 'main-title' || event.srcElement.className == 'main-title-span' || event.srcElement.className == 'main-title-img') {
        this.filStatus = true
      } else {
        this.filStatus = false
      }
    },
    navChange (index) { //导航部分改变
      this.params.listStyle = index + 1;
      if (this.params.listStyle == 3) {

        if (this.params.order == 'desc') {
          this.params.order = 'asc'
          this.$refs.priceImg[index].src = "https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=3547748769,4128733482&fm=26&gp=0.jpg"
        } else {
          this.params.order = 'desc'
          this.$refs.priceImg[index].src = "https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1220747519,673909795&fm=26&gp=0.jpg"
        }
        // console.log(this.params.order)

      }
      this.getAllList()
    },
    listStyle () {//列表样式切换
      this.listFlag = !this.listFlag
    },
    nextList (event) { //触底加载更多
      // 滚动条距离底部的距离scrollBottom
      let scrollBottom = event.target.scrollHeight - event.target.scrollTop - event.target.clientHeight;
      if (scrollBottom <= 0) {
        this.params.offset++;
        this.$axios.post("mgr/goods/goods", { datas: this.params }).then(res => {
          if (res.status == 200) {
            if (res.data.code == 1) {
              this.shopList.push(...res.data.data)
              if (res.data.data.length <= 0) {
                this.isShow = true
              }
            }
          }
        })
        // console.log(this.shopList)
      }

    }
  },
  created () {
    if (this.$route.query.num) {
      this.params.listStyle = this.$route.query.num
    }
  },
  mounted () {
    this.getClassify();
    this.getAllList();

  }


}
</script>
<style lang="scss" scoped>
.sort {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;
  .orange {
    color: #fd4122 !important;
  }
  .pos {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background: rgba($color: #000000, $alpha: 0.5);
  }
  .filter {
    width: 1.25rem;
    height: 100%;
    background: #fff;
    > p {
      width: 100%;
      height: 0.45rem;
      padding: 0 0.1rem;
      box-sizing: border-box;
      line-height: 0.45rem;
      border-bottom: solid 1px #eee;
      font-size: 0.14rem;
      font-weight: bold;
    }
  }
  .filter-title {
    > li {
      width: 100%;
      .main-title {
        height: 0.45rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: solid 1px #eee;
        font-size: 14px;
        color: #444;
        font-weight: bold;
        padding: 0 0.1rem;
        box-sizing: border-box;
      }
      img {
        width: 0.15rem;
        height: 0.15rem;
      }
    }
  }
  .sub-title {
    width: 100%;
    P {
      height: 0.3rem;
      line-height: 0.3rem;
      font-size: 0.12rem;
      padding: 0 0.14rem;
      box-sizing: border-box;
      color: #999;
    }
  }
}
.sort-con {
  background: #fff;
}
.headTab {
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  img {
    width: 0.18rem;
    height: 0.18rem;
  }
  span {
    display: block;
    font-size: 0.1rem;
    color: #999;
  }
  .icon {
    width: 0.5rem;
    text-align: center;
  }
}
.search {
  .search-input {
    width: 2.75rem;
    height: 0.32rem;
    display: flex;
    align-items: center;
    background: #f5f5f5;
    img {
      width: 0.24rem;
      height: 0.24rem;
      margin-left: 0.1rem;
    }
    input {
      margin-left: 0.1rem;
      border: none;
      font-size: 0.12rem;
      background: none;
      flex: 1;
    }
  }
}

.head-nav {
  width: 100%;
  height: 0.45rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  li {
    width: 20%;
    text-align: center;
    font-size: 0.14rem;
    color: #666;
    img {
      width: 0.11rem;
      height: 0.11rem;
    }
  }
}
.level-con {
  padding: 0 0.15rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  li {
    width: 1.65rem;
    margin: 0.1rem 0;
    position: relative;
    img {
      width: 1.65rem;
      height: 1.65rem;
    }
    .pos {
      width: 0.3rem;
      height: 0.15rem;
      font-size: 0.1rem;
      background: #d63c34;
      text-align: center;
      line-height: 0.15rem;
      box-sizing: border-box;
      position: absolute;
      top: 0;
      left: 0;
      color: #fff;
    }
    .con-title {
      font-size: 0.14rem;
      display: inline-block;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-top: 0.05rem;
    }
    div {
      font-size: 0.14rem;
      color: #fd4122;
      display: flex;
      justify-content: space-between;
      img {
        width: 0.18rem;
        height: 0.18rem;
      }
    }
  }
}
.vertical-con {
  li {
    padding: 0.07rem 0.1rem;
    box-sizing: border-box;
    display: flex;
    border-bottom: 1px solid #f5f5f5;
    position: relative;
    img {
      width: 0.85rem;
      height: 0.85rem;
      margin-right: 0.1rem;
    }
    .recm-info {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .con-title {
      font-size: 0.14rem;
      display: inline-block;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .top span {
      color: #d63c34;
      border: solid 1px #d63c34;
      font-size: 11px;
      padding: 0 2px;
      margin-right: 0.05rem;
      position: absolute;
      top: 0;
      left: 0;
    }
    .bot {
      font-size: 0.14rem;
      color: #fd4122;
      display: flex;
      justify-content: space-between;
      img {
        width: 0.18rem;
        height: 0.18rem;
      }
    }
  }
}
.isShow {
  width: 100%;
  font-size: 0.14rem;
  color: #999;
  line-height: 0.45rem;
  text-align: center;
}
</style>